body {
	background: #e4e7ea;
	font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif
}
div, input, select, button, span, ul, li, a, img { transition: all 0.1s linear, background-position 0; }

.btn { transition: margin 0; }

.label { border: 1px solid; }
.label-default {
	color: #555555;
	background-color: #eeeeee;
	border-color: #e2e2e2;
}

.sidebar { background: #2E3E4D; color: #C1CFD9; }
#content-wrapper { margin-left: 250px; }

#sidebar-head {
	padding: 10px 15px;
	position: relative;
	width: 220px;
}

#header.navbar .navbar-header { background: transparent; }

#sidebar-menu-icon {
	position: absolute;
	right: 0;
	top: 0;
	margin: 8px;
	font-size: 2em;
	cursor: pointer;
}

#sidebar-wrapper .delimiter {
	display: block;
	width: 100%;
	background: #303A4A;
	height: 2px;
	border-top: 1px solid #293241;
	border-bottom: 1px solid #2B3544;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}

#sidebar-head .userpannel .userpic {
	height: 32px;
	border-radius: 50%;
}

#sidebar-head .userpannel .userpic-wrapper {
	border-radius: 50%;
	padding: 2px;
	display: inline-block;
	border: 2px solid #5A6B7C;
	width: 40px;
	height: 40px;
}

#sidebar-head .userpannel .user-menu {
	position: relative;
	margin-top: 10px;
}

#sidebar-head .userpannel .user-menu .user-actions {
	position: absolute;
	top: 0;
	left: 0;
	list-style: none;
	background: #ffffff;
	margin-top: 1.5em;
	min-width: 150px;
	max-width: 250px;
	max-height: 0;
	overflow: hidden;
	padding: 0;
	border: 1px solid #dddddd;
	opacity: 0;
	border-radius: 3px;
	color: #404040;
	-webkit-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow:    2px 2px 0 rgba(0, 0, 0, 0.1);
	box-shadow:         2px 2px 0 rgba(0, 0, 0, 0.1);
}

.sidebar .content h5.heading {
	color: #ffffff;
	text-transform: uppercase;
	padding: 15px;
}

.cards-container .card { display: none; }

/** Заметки в виде карточек */
.cards-masonry {
	-moz-column-count: 2;
	-moz-column-gap: 10px;
	-webkit-column-count: 2;
	-webkit-column-gap: 10px;
	column-count: 2;
	column-gap: 15px;
	min-width: 510px;
}
.cards-masonry .card {
	background: #FFFFFF;
	width: 100%;
	display: inline-block;
	margin: 0 15px 15px 0;
	border-radius: 5px;
	-webkit-box-shadow: 0 2px 0 #C2C5C7;
	-moz-box-shadow: 0 2px 0 #C2C5C7;
	box-shadow: 0 2px 0 #C2C5C7;
	border: 1px solid #cfcfcf;
	font-size: 12px;
	position: relative;
}

.cards-masonry .card:hover { background-color: #F8F8F8; }

.cards-masonry .card .card-title,
.cards-masonry .card .card-body,
.cards-masonry .card .card-badges {
	padding: 0.5em
}

.cards-masonry .card .card-title {
	border-radius: 5px 5px 0 0;
	font-weight: bold;
	background: #e7e7e7;
	font-size: 12px;
	border-bottom: 3px solid #cfcfcf;
	text-shadow: 1px 1px 0 #fff;
	max-height: 7.5em;
	overflow: hidden;
}

.cards-masonry .card.warning .card-title { border-bottom-color: #FF851B; }
.cards-masonry .card.info .card-title { border-bottom-color: #158CBA; }
.cards-masonry .card.success .card-title { border-bottom-color: #28B62C; }
.cards-masonry .card.danger .card-title { border-bottom-color: #FF4136; }
.cards-masonry .card .card-body { max-height: 120px; overflow: hidden; position: relative; padding: 10px; }

.cards-masonry .card .card-body:after {
	position: absolute;
	height: 20px;
	bottom: 0;
	content: '';
	width: 100%;
	left: 0;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, #fcfcfc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,#fcfcfc));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,#fcfcfc 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,#fcfcfc 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,#fcfcfc 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,#fcfcfc 100%);
}

.cards-masonry .card .card-controls {
	font-size: 1.3em;
	position: absolute;
	top: 15px;
	right: 0;
	background: #fff;
	border: solid #ddd;
	border-width: 1px 0 1px 1px;
	padding: 5px 5px 0 5px;
	border-radius: 5px 0 0 5px;
	box-shadow: -1px 1px 0 rgba(12, 12, 12, 0.2);
	right: -40px;
	width: 36px;
}

.cards-masonry .card:not(:hover) .card-controls { transition-delay: 0.3s; }
.cards-masonry .card .card-controls .btn { padding: 0 6px; font-weight: normal; margin-bottom: 5px; transition: margin 0; }
.cards-masonry .card .card-body-wrapper { position: relative; overflow: hidden; }
.cards-masonry .card:hover .card-controls { right: 0; }
.cards-masonry .card .card-badges .label { font-size: 1em; }
.cards-masonry .card .header-image-wrapper { max-height: 80px; overflow: hidden; }
.cards-masonry .card .header-image-wrapper img { width: 100%; height: auto; }
.cards-masonry .card img.full-width { width: 100%; height: auto; }
.cards-masonry .card .card-title textarea { width: 100%; height: auto; }
.cards-masonry .card-sortable-placeholder { background: #aaa !important; }
.cards-masonry .card.dragging { opacity: 0.8; transition: none; }
.cards-masonry .card .resizer { position: relative; height: 11px; cursor: n-resize; opacity: 0; }
.cards-masonry .card:hover .resizer { opacity: 1; }

.cards-masonry .card .resizer:before {
	content: '';
	position: absolute;
	left: 50%;
	top: 3px;
	border: 2px solid #929292;
	border-right: none;
	border-left: none;
	display: block;
	width: 15px;
	height: 5px;
	margin-bottom: 2px;
	margin-left: -7px;
}
/** END Заметки в виде карточек */

/** Заметки в виде списка */
.cards-list .card {
	background-color: #FFFFFF;
	width: 100%;
	margin: 0 0 5px 0;
	border-radius: 5px;
	border: 1px solid #CFCFCF;
	font-size: 12px;
	position: relative;
	padding: 10px 15px;
	display: table;
	min-width: 350px;
}

.cards-list .card:hover { background-color: #F8F8F8; }
.cards-list .card-title { display: table-cell; width: 20%; font-weight: bold; vertical-align: middle; }
.cards-list .card-title textarea { width: 100%; }
.cards-list .card-body-wrapper { display: table-cell; width: 60%; height: 1.3em; overflow: hidden; position: relative; }
.cards-list .card-body-wrapper .card-body { margin: 0 15px; display: block; height: 2.8em; overflow: hidden; }
.cards-list .card-badges { display: table-cell; width: 20%; text-align: right; vertical-align: middle; }
.cards-list .card.dragging { opacity: 0.8; transition: none; }
.cards-list .card-sortable-placeholder { background: #aaaaaa; }
.cards-list .card img.full-width { max-width: 64px; max-height: 64px; margin-left: -50%; margin-top: -50%; }

.cards-list .header-image-wrapper {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 2px solid #DDD;
	overflow: hidden;
	padding: 2px;
	display: block;
	float: left;
	margin: 0 10px 0 15px;
}

.cards-list .card .card-controls {
	font-size: 1em;
	position: absolute;
	right: 0;
	background: #FFF;
	border: 1px solid #DDD;
	padding: 5px;
	border-radius: 5px;
	top: -40px;
}

.cards-list .card:not(:hover) .card-controls { transition-delay: 0.3s; }
.cards-list .card .card-controls .btn { padding: 0 6px; font-weight: normal; margin-bottom: 0px; transition: margin 0; }
.cards-list .card:hover .card-controls { top: 0; }
/** END Заметки в виде списка */

.sidebar .content .sidebar-menu { list-style: none; margin: 0; padding: 0; }
.sidebar .content .sidebar-menu .fa { margin-right: 3px; color: #F97E76; font-size: 1.2em; }
.sidebar .content .sidebar-menu ul { padding-left: 15px; list-style: none; }
.sidebar-menu li { position: relative; }

.sidebar-menu li:last-child::before { height: 21px; top: -7px; }
.sidebar-menu li::before { content: ''; position: absolute; top: -8px; height: 100%; left: 0; border-left: 1px dotted #506274; }
.sidebar-menu li::after { content: ''; position: absolute; top: 1em; width: 10px; height: 1em; left: 0; border-top: 1px dotted #506274; }
.sidebar-menu > li::before, .sidebar-menu > li::after { border: 0; }

.sidebar-menu .inner {
	padding: 5px 10px;
	display: inline-block;
	width: 100%;
	border-radius: 3px;
	color: #C1CFD9;
	text-decoration: none;
	white-space: nowrap;
	font-size: 13px;
}

.sidebar-menu .inner:hover,
.sidebar-menu li.active > .inner { background: #F8F8F8; color: #404040; }
.top-bar .search { width: 200px; }
.slimScrollBar { transition: all 0; }

.top-bar .btn {
	font-size: 14px;
	font-weight: normal;
}

.dropdown-menu>li.row {
	padding: 3px 20px;
	line-height: 24px;
}
.dropdown-menu.container { width: 250px; }
.dropdown-menu.container .row .btn { padding: 3px 6px 0 6px; }
.dropdown-menu .row label { margin: 3px 0 0 0; display: block; }

body.modal-open #wrapper {
	-webkit-filter: /*blur(3px)*/ grayscale(80%);
	-moz-filter: /*blur(3px)*/ grayscale(80%);
	-ms-filter: /*blur(3px)*/ grayscale(80%);
	filter:     /*blur(3px)*/ grayscale(80%);
}